body {
    margin: 0px;
}

#create-room {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 20px;
}

#navbar {
    background-color: #EFEFEF;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#create-chatroom {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 10px;
    border-style: solid;    
    border-color: #DDDDDD;
    border-width: 3px;
    border-radius: 15px;
    background-color: #EFEFEF;
}

input {
    width: 100%;
}

input#submit {
    margin-top: 10px;
    width: 100%;
}