body {
    height: 100%;
    width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EFEFEF;
    border-style: solid;
    border-color: #dddddd;
    border-width: 3px;    
    border-radius: 15px;
    padding: 10px;
}

#lobbyList {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

td {
    border-style: solid;
 
    border-bottom-width: 1px;
}

td#chatName {
    padding-left: 10px;
    padding-right: 150px;
    width: 100%;
}

td#numOfUsers {
    padding: 10px;
    text-align: center;
}

td#enterChat {
    padding: 5px;
    padding-left: 40px;
}