body {
    height: 100%;
    margin: 0px;
}

#navbar {
    background-color: #EFEFEF;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#lobbyList {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #EFEFEF;
    border-style: solid;
    border-color: #dddddd;
    border-width: 3px;    
    border-radius: 15px;
    padding: 10px;
}

td {
}

td#chatName {
    padding-left: 10px;
    padding-right: 150px;
    width: 100%;
}

td#numOfUsers {
    padding: 10px;
    text-align: center;
}

td#enterChat {
    padding: 5px;
    padding-left: 40px;
}