#registerForm {       
    width: 200px;
    height: 230px;
    padding: 20px;
    font-size: 18px;
    position: relative;
    left: 235px;
    top: -245px;
}

form {
    width: 200px;
}

#register {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 20px;
}

#username {
    padding-bottom: 7px;
}

#password {
    padding-bottom: 7px;
}

input {
    width: 100%;
}

input#submit {
    border-radius: 10px;
    border-color: #000000;
    margin-bottom: 15px;
}

#picture {
    width: 245px;
}

input#radio {
    width: 12px;
    position: relative;
    right: 40px;
    top: 20px;
    margin-bottom: 30px;
}