#registerForm {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-width: 3px;
    border-color: #dddddd;
    border-radius: 15px;
    background-color: #EFEFEF;
    border-style:solid;
    border-collapse:inherit;        
    width: 200px;
    height: 230px;
    padding: 20px;
    font-size: 18px;
}

form {
    width: 200px;
}

#register {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 20px;
}

#username {
    padding-bottom: 7px;
}

#password {
    padding-bottom: 7px;
}

input {
    width: 100%;
}

input#submit {
    border-radius: 10px;
    border-color: #000000;
    margin-bottom: 15px;
}